version: 2
jobs:
  build:
    docker:
      - image: circleci/node:10.10.0
    working_directory: ~/repo

    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          - v1-dependencies-
      - run: npm build
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run:
          name: Install Docker client
          command: |
            set -x
            VER="17.03.0-ce"
            curl -L -o /tmp/docker-$VER.tgz https://download.docker.com/linux/static/stable/x86_64/docker-$VER.tgz
            tar -xz -C /tmp -f /tmp/docker-$VER.tgz
            chown -R $USER:$USER /usr/bin
            mv -f /tmp/docker/* /usr/bin
      - run: |
          TAG=0.1.$CIRCLE_BUILD_NUM
          docker build -t   johnstonjacob/portfolio-client:$TAG .
          docker login -u $DOCKER_USER -p $DOCKER_PASS
          docker push johnstonjacob/portfolio-client:$TAG
  deploy:
    docker:
      - image: circleci/python:3.7-jessie
    working_directory: ~/repo
    steps:
        -  ./update_deploy.sh ${TAG} ${SCRIPT_LOCATION}
workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
