version: 2
jobs:
  build:
    docker:
        - image: docker
    working_directory: ~/repo

    steps:
      - checkout
      - setup_remote_docker:   # (2)
          docker_layer_caching: true # (3)
      - run: 
          name: Build docker image
          command: |
              DOCKER_TAG=$(git log -1 --format=%h)
              echo REACT_APP_API_URL=${REACT_APP_API_URL} >> .env
              echo REACT_APP_CV_URL=${REACT_APP_CV_URL} >> .env
              docker build -t   johnstonjacob/portfolio-client:$DOCKER_TAG .
              docker login -u $DOCKER_USER -p $DOCKER_PASS
              docker push johnstonjacob/portfolio-client:$DOCKER_TAG
  deploy:
    docker:
        - image: python:3.7
    working_directory: ~/repo

    steps:
      - checkout
      - run:
          name: Install boto3
          command: |
              pip install boto3
      - run:
         name: Deploy via script
         command: |
             DOCKER_TAG=$(git log -1 --format=%h)
             python3 update_deploy.py ${TAG} ${SCRIPT_LOCATION} ${DOCKER_TAG}
workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - deploy:
          filters:
            branches:
              only: master
